ul li {
  list-style: none;
}
ul {
  display: flex;
  margin-left: 850px;
  cursor: pointer;
}
li {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin: 20px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(85, 84, 84);
}
.color4 {
  color: aqua;
}
.wre1 {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-color: rgb(54, 54, 54);
  margin-left: 290px;
}
.test1 {
  color: aliceblue;
  margin-top: -110px;
  margin-left: 325px;
  font-size: 25px;
}
.test2 {
  text-decoration: none;
  color: aliceblue;
  font-size: 25px;
  margin-left: 320px;
}
.image {
  border-radius: 100%;
  margin-top: 80px;
  margin-left: 300px;
}
.image1 {
  margin-left: 800px;
  margin-top: -400px;
}
.proposal {
  font-size: 100px;
  margin-left: 300px;
  color: rgb(77, 77, 77);
  margin-top: -400px;
}
.line {
  color: rgb(14, 213, 213);
  font-size: 25px;
  margin-left: 300px;
  margin-top: -90px;
}
.write {
  font-size: 15px;
  margin-left: 300px;
  width: 350px;
  margin-top: -20px;
}
.write1 {
  font-size: 15px;
  margin-left: 300px;
  width: 350px;
  margin-top: 20px;
}
.font4 {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 300px;
  color: rgb(41, 41, 189);
}
.font5 {
  font-size: 30px;
  margin-top: -35px;
  margin-left: 340px;
  color: #87ceeb;
}
.font6 {
  font-size: 30px;
  color: red;
  margin-left: 380px;
  margin-top: -35px;
}
.obj1 {
  width: 1500px;
  height: 200px;
  background-color: rgb(54, 54, 54);
  margin-top: 33px;
}
.fon {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 690px;
  color: rgb(41, 41, 189);
}
.fon1 {
  font-size: 30px;
  margin-top: -35px;
  margin-left: 740px;
  color: #87ceeb;
}
.fon2 {
  font-size: 30px;
  color: red;
  margin-left: 785px;
  margin-top: -35px;
}
.TOKYO {
  margin-top: -10px;
  margin-left: 550px;
}
.TOKYO1 {
  text-decoration: none;
  margin-left: 360px;
  margin-top: -34px;
}
